.logo{
    margin-left: -30px;
}
.login_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 9.13rem;
}
.login_form_container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.form{
    width: 30rem;
    margin-top: -1.25rem;
}
.rectangle{
    width: 11rem;
    height: 0.05rem;
    background-color: rgb(207, 207, 207);
}
.recs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.6rem;
}
.recs span{
    color:  rgb(158, 158, 158);
}
.loginwithother{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.6rem;
}
.loginwithother div{
    width: 9.4rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    border: 1px solid #515DEF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rememberandforgot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.7rem;
}
.remember{
    display: flex;
    align-items: center;
    gap: 0.25rem;
}
.head{
    font-weight: 600;
    font-size: 1.8rem;
}
.text{
    font-weight: 400;
    color: #5e5e5e;
    margin-top: -0.6rem;
}
.linktosignup_box{
    width: 100%;
    margin-top: 0.6rem;
}
.linktosignup_text{
    width: 13rem;
    display: block;
    margin: 0 auto;
    margin-top: 0.9rem;
}
.linktosignup{
    color: rgb(243, 97, 97);
    cursor: pointer;
}
.forgotpass_text{
    color: rgb(243, 97, 97);
    cursor: pointer;
}
.swiper_container{
    width: 450px;
}
:global(.swiper-pagination-bullet) {
    background-color: rgb(255, 255, 255) !important;
    opacity: 1 !important;
}
:global(.swiper-pagination-bullet-active){
    background-color: #515DEF !important;
    width: 32px !important;
    height: 10px !important;
    border-radius: 5px !important;
}