@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --font-main: 'Poppins', sans-serif;
  --text-color: #5e5e5e;
  --text-margin-top: -0.6rem;
  --text-font-weight: 400;
  --head-font-weight: 600;
  --head-font-size: 1.9rem;
}

body{
  font-family: var(--font-main);
}

.text{
  color: var(--text-color);
  margin-top: var(--text-margin-top);
  font-weight: var(--text-font-weight);
}
.head{
    font-weight: var(--head-font-weight);
    font-size: var(--head-font-size);
}