.logo{
    margin-left: -1.9rem;
}
.forgotpassword_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9.13rem;
}
.forgotpassword_form_container{
    display: flex;
    flex-direction: column;
    margin-top: -4.75rem;
}
.form{
    width: 30.4rem;
    margin-top: -1.25rem;
    margin-top: 1.9rem;
}
.rectangle{
    width: 11rem;
    height: 0.05rem;
    background-color: rgb(207, 207, 207);
}
.recs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.9rem;
}
.recs span{
    color:  rgb(158, 158, 158);
}
.loginwithother{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.9rem;
}
.loginwithother div{
    width: 9.4rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    border: 1px solid #515DEF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rememberandforgot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.6rem;
}
.remember{
    display: flex;
    align-items: center;
    gap: 0.25rem;
}
.linktosignup_box{
    width: 100%;
    margin-top: 0.6rem;
}
.linktosignup_text{
    width: 13rem;
    display: block;
    margin: 0 auto;
    margin-top: 0.9rem;
}
.linktosignup{
    color: rgb(243, 97, 97);
    cursor: pointer;
}
.forgotpass_text{
    color: rgb(243, 97, 97);
    cursor: pointer;
}
.backto_login{
    text-decoration: none;
    color: black;
}
.backto_login div{
    display: flex;
    align-items: center;
}