.form{
    width: 30rem;
    margin-top: -1.25rem;
    margin-top: 1.9rem;
}
.setnewpassword_text{
    margin-bottom: 1.9rem;
}
.head{
    font-weight: 600;
    font-size: 1.9rem;
}
.text{
    font-weight: 400;
    color: #5e5e5e;
    margin-top: -0.6rem;
}